@import '@styles/mixins';
@import '@styles/brand-variables';

.social {
	display: block;
	background-color: $primary;
	color: $color-white;
	border-radius: 50%;
	overflow: hidden;
	width: 1.5em;
	height: 1.5em;
	@include flex(column, center, center);
}
