@import '@styles/mixins';
@import '@styles/sizing';
@import '@styles/brand-variables';

.featuredHole {
	margin-top: 6em;
	display: grid;
	grid-template-areas: "hole";
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	position: relative;

	.holeContainer {
		grid-area: hole;
		display: grid;
		grid-template-areas:
			". image"
			"info image"
			". image";
		grid-template-columns: 35% 65%;
		justify-content: center;
		align-items: center;
		justify-items: center;
		min-height: 600px;
		background-color: #e7e7e7;

		@media screen and (max-width: 1280px) {
			display: flex;
			flex-direction: column-reverse;
			justify-content: space-between;
			background: unset;
			gap: 2em;
		}

		&.close {
			animation: slide-out .5s forwards;
		}

		&.current {
			animation: slide-in .5s forwards;
		}

		.holeLeft {
			grid-area: info;
			margin: 0 6em;

			@media screen and (max-width: 1280px) {
				background-color: #e7e7e7;
				padding: 1em;
				width: 90%;
				margin: auto;
			}

			h2 {
				letter-spacing: .12em;
				text-transform: uppercase;
				margin-bottom: 1em;
			}
		}

		.holeRight {
			grid-area: image;
			border: 50px solid #ffffff;
			box-shadow: 0 0 20px 10px #00000026;
			transform: scale(1.1);
			width: 85%;
			height: 100%;
			position: relative;
			aspect-ratio: 1.5;

			@media screen and (max-width: 1280px) {
				transform: scale(1);
				width: 100%;
			}
		}

		@keyframes slide-out {
			0% {
				transform: translate(0);
			}

			100% {
				transform: translate(-120vw);
			}
		}

		@keyframes slide-in {
			0% {
				transform: translate(120vw);
			}

			100% {
				transform: translate(0);
			}
		}


	}

	.selectors {
		z-index: 2;
		position: absolute;
		right: 50%;
		top: -5em;
		transform: translateX(50%);
		@include flex(row, center, center);

		span {
			cursor: pointer;
			width: 0.7em;
			height: 0.7em;
			border: 1.5px solid #e7e7e7;
			border-radius: 0.35em;
			margin: 0 0.25em;
		}
	}

}
