@import '@styles/mixins';

.layout {
	@include grid(baseline, baseline);
	grid-template-columns: 100%;
	grid-template-rows: max-content max-content 1fr max-content;
	gap: 1em;

	>div {
		&:first-of-type {
			position: sticky;
			top: 0;
			left: 0;
			right: 0;
			z-index: 100000;
		}

		&:nth-of-type(3) {
			height: 100%;
		}

		&:last-child {
			overflow: hidden;
		}
	}

	:global {
		@media screen and (max-width: 900px) {
			.main-navigation {
				display: none;
			}

			.members-navigation {
				display: none;
			}
		}
	}
}
