$primary: #00215a;
$primaryDark: #00112d;
$primaryOpaque: #00215ae2;
$primarySeeThrough: #00215a90;
$secondary: #3d3d3d;
$secondaryDark: #282828;
$secondaryLight: #6a6a6a;
$contentGray: #f4f4f4;
$igFeedGray: rgb(231, 231, 231);
$accent: #e7b508;
$accentBright: #ffc729;
$accentOpaque: #e7b708a8;
$accentDark: #ddaa3d;
$accentLight: #e6c85d;
$color-black: black;
$color-white: white;
$lightGray: #a7a7a7;
$subMenuLinkColor: #838383;
$activeLinkBackroundColor: #e7e7e7;

$burnt-orange: #ce614a;
$light-aqua: #5bd0e6;
$sky-blue: #4cb4e7;
$deep-blue: #0055b8;
$royal-blue: #003057;
$midnight-blue: #003057;

// Typography
$body: 'Neutraface2TextTTBook';
$header: 'Neutraface2TextTTBook';
$headerWeight: 600;
$proximaNova: 'ProximaNovaBold';

// Viewport & Breakpoints
$content-width: 1200px;
$content-width-extended: 1400px;
